<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" href="{{ url_for('static', filename='styles/services-css.css') }}">
<style>


</style>
</head>
<body>
  <div class="header">
    <a href="/" class="logo"><img src="{{ url_for('static', filename='img/logo.jpeg') }}" width="180px" height="50px"></a>
  <div class="header-right">
    <a  href="/">Home</a>
    <a href="/services">Our Services</a>
    <a class="active" href="/about">About us</a>
    <a href="/registration"> Get Started</a>

  </div>
  
</div> 
<div class="about-section">
    <h1>About Us Page</h1><br>
    <div class="row">
      <div class="column1" style="margin:3% ;">
        <div class="card">
          <img class="image" src="{{ url_for('static', filename='img/IMG.jpg') }}" alt="Algebra" style="width:200px;height:210px">
          <div class="container">
            <h2>Thilak Reddy Gopidi</h2><br>
            <p class="title"> Master's Student in Muma College of Business</p><br>
             <p>Business Analytics and Information Systems</p><br>
            <p><i> Played a crucial role in developing the website's "about us" and "services" pages.Using my knowledge of html and web design, I created visually appealing cards to showcase our team members and the services we offer.

            </p><br>
          </div>
        </div>
      </div>

     
          <div class="column1" style="margin:3% ;">
            <div class="card">
              <img class="image" src="{{ url_for('static', filename='img/image.jpeg') }}" alt="Algebra" style="width:200px;height:210px">
              <div class="container">
                <h2>Sivasankari Ravipati</h2><br>
                <p class="title">Master's Student in Muma College of Business</p> <br>
                 <p>Business Analytics and Information Systems</p><br>
                <p>
                  <i>
                    My contributions include designing the framework of the website, creating and styling the Home page using Html and CSS, using JavaScript to add interactivity to the website.Testing and debugging the website to ensure that it functions correctly.                  </i>
        
                </p><br>
              </div>
            </div>
          </div>
          </div>

          <div class="row">

              <div class="column1" style="margin:3% ;">
                <div class="card">
                  <img class="image" src="{{ url_for('static', filename='img/p2.jpeg') }}" alt="Algebra" style="width:200px;height:210px">
                  <div class="container">
                    <h2>Prathyusha Hari</h2><br>
                    <p class="title">Master's Student in Muma College of Business </p><br>
                     <p>Business Analytics and Information Systems</p><br>
                    <p>
                      <i>
                        My contributions include in designing the About us page,creating Database Model and driving the team.I have identified and fixed issues with the website's CSS and JavaScript code, ensuring that the website works as intended on different devices and browsers.                      </i>
                    </p><br>
                  </div>
                </div>
              </div> 

              <div class="column1" style="margin:3% ;">
                <div class="card">
                  <img class="image" src="{{ url_for('static', filename='img/venkatesh.jpeg') }}" alt="Algebra" style="width:200px;height:210px">
                  <div class="container">
                    <h2>Venkatesh Vunnam</h2><br>
                    <p class="title">Master's Student in Muma College of Business</p><br>
                     <p>Business Analytics and Information Systems</p><br>
                    <p>
                      <i>
                        I designed our website's interface and pitched a few ideas to my teammates during our team meetings. The website's color scheme was created by me.                      </i>
                    </p><br>
                  </div>
                </div>
              </div> 

<!-- <div class="column">
  <div class="card">
    <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
    <div class="container">
      <h2>Mike Ross</h2>
      <p class="title">Art Director</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>mike@example.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="/w3images/team3.jpg" alt="John" style="width:100%">
    <div class="container">
      <h2>John Doe</h2>
      <p class="title">Designer</p>
      <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      <p>john@example.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div> -->
</div> 
</div>
<footer>
  <div style="width:100%;height:200px">
    <div class="foot">
      <div>
        <p>&copy; Smart Study</p>
      </div>
      <div>
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>